@import "tailwindcss";


.body {
    background: #000;
}

.nav {
    background: #1d1d1d;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    margin-bottom: 20px;
}

.hourly {
    background: #000;
    padding: 5px;
    margin: 15px;
}

.highlights {
    background: #000;
    padding: 5px;
    margin: 15px;
}

.heading {
    background: #161616;
    padding: 1px;
    margin: 5px;
}

.hovering:hover {
    background-color: rgb(255, 0, 0);
}

.week {
    padding: 10px;
    background: #000;
    margin: 1px;
}

.searchbar {
    background: #3e4be0;
    margin-top: 30px;
    margin-left: 60px;
    height: 50px;
    border-radius: 10px;
}

.container {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
    /* background: red; */
    height: 50px;
    border-radius: 10px;
}

.weekicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.houricon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}