@import "tailwindcss";


.body {
    /* background: #000; */

}

.nav {
    background: #1d1d1d;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* border-radius: 20px; */
}
.navbut{
    background: #ffffff;
    padding: 7px;
    font-size: larger;
    color: black;
    font: bolder;
    border-radius: 15px;
}
.navbut:hover{
    background: #ff0000;
}

.hourly {
    background: #000;
    padding: 5px;
    margin: 15px;
}
.sevenday{
    background: rgb(0, 0, 0);
    padding: 20px;
    color: rgb(255, 255, 255);
}
.sevencards{
    background:transparent;
    padding: 10px;
    
}

.highlights {
    background: #000;
    padding: 5px;
    margin: 15px;
}

.heading {
    background: #161616;
    padding: 1px;
    margin: 5px;
}


.hourly{
    background: #0e0e0e;

}
.hourcards{
     background: #353535;
      padding: 10px;
         margin: 1px;
}

.week {
    padding: 10px;
    background: #353535;
    margin: 1px;
}
/* .address{
    background: #000000;
} */

.searchbar {
    /* background: #e03e3e; */
    margin-top: 30px;
    margin-left: 60px;
    height: 50px;
    border-radius: 10px;
    





    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, )
}

/* .week{
    background: #323232;
} */

/* .cards{
    background: #ff0000;
} */
.container {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);

}

.sidetext {
    color: rgb(255, 255, 255);
    font-size: larger;
    margin-left: 10px;

}
.nav{
    background: #191919;
    height: 50px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 25px;
    
}
.butonnav{
    /* background: #ff0000; */
}




input {
    /* background: red; */
    height: 50px;
    border-radius: 10px;
    background: #000000;
    color: white;
}

.weekicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.houricon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.displayicon {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, )
}



/*  */
/* Mobile */
@media (max-width: 767px) {
    .searchbar {
        width: 70%;

    }

    .displayicon {
        width: 200px;
        height: 200px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .searchbar {
        font-size: 1.1rem;
        transform: translate(-35px);
    }

    .searchinput {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }
      .displayicon {
        width: 200px;
        height: 200px;
    }


}

/* Laptop & Desktop */
@media (min-width: 1024px) {
    .searchbar {
        width: 70%;
        font-size: 0.9rem;
        transform: translate(-25px);


    }

    .displayicon {
        width: 200px;
        height: 200px;
    }

    .searchinput {
        font-size: 1.2rem;
    }
}