@import "tailwindcss";


.body {
    /* background: #000; */

}

.nav {
    background: #1d1d1d;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    margin-bottom: 20px;
}

.hourly {
    background: #000;
    padding: 5px;
    margin: 15px;
}

.highlights {
    background: #000;
    padding: 5px;
    margin: 15px;
}

.heading {
    background: #161616;
    padding: 1px;
    margin: 5px;
}

.hovering:hover {
    background-color: rgb(255, 0, 0);
}

.week {
    padding: 10px;
    background: #000;
    margin: 1px;
}

.searchbar {
    /* background: #e03e3e; */
    margin-top: 30px;
    margin-left: 60px;
    height: 50px;
    border-radius: 10px;





    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, )
}

/* .week{
    background: #323232;
} */

/* .cards{
    background: #ff0000;
} */
.container {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* margin: 20px; */
    /* padding-left: 20px; */
}

.sidetext {
    color: rgb(255, 255, 255);
    font-size: larger;
    margin-left: 10px;

}

.sidemain {}

input {
    /* background: red; */
    height: 50px;
    border-radius: 10px;
}

.weekicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.houricon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.displayicon {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, )
}



/*  */
/* Mobile */
@media (max-width: 767px) {
    .searchbar {
        width: 70%;

    }

    .displayicon {
        width: 200px;
        height: 200px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .searchbar {
        font-size: 1.1rem;
        transform: translate(-35px);
    }

    .searchinput {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }
      .displayicon {
        width: 200px;
        height: 200px;
    }


}

/* Laptop & Desktop */
@media (min-width: 1024px) {
    .searchbar {
        width: 70%;
        font-size: 0.9rem;
        transform: translate(-25px);


    }

    .displayicon {
        width: 200px;
        height: 200px;
    }

    .searchinput {
        font-size: 1.2rem;
    }
}